/* tamaño fonts */
$sm :(1.25rem);
$mid :(2.5rem);
$titulo:(6.25rem);
/* imagenes reset*/
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}